@model racesmiths.Models.Club

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="row">
    <div>
        <form asp-controller="Champs" asp-action="Create" enctype="multipart/form-data">
            @*@Html.Hidden("ClubId")*@
            @*<input type="hidden" asp-for="ClubId" />*@
            <input type="hidden" name="ClubId" value="@Model.Id" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name="ChampName" class="control-label">ChampName</label>
                <input name="ChampName" class="form-control" />
            </div>
            <div class="form-group">
                <label name="RaceCount" class="control-label">RaceCount</label>
                <input name="RaceCount" class="form-control" />
            </div>
            <div class="form-group">
                <label name="Rules" class="control-label">Rules</label>
                <input name="Rules" class="form-control" />
            </div>
            <div class="form-group">
                <label name="Description" class="control-label">Description</label>
                <input name="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label name="Settings" class="control-label">Settings</label>
                <input name="Settings" class="form-control" />
            </div>
            @*<div class="form-group">
                    <label asp-for="ChampType" class="control-label"></label>
                    <select asp-for="ChampType" class="form-control"></select>
                    <span asp-validation-for="ChampType" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label name="StartDate" class="control-label">StartDate</label>
                <input name="StartDate" class="form-control" />
            </div>
            @*<div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="ImagePath" class="control-label"></label>
                    <input asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageData" class="control-label"></label>
                    <input asp-for="ImageData" class="form-control" />
                    <span asp-validation-for="ImageData" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <h4>Club</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rules)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rules)
        </dd>

    </dl>
</div>


<div class="row my-center my-div">
    <div class="col-md-3">
        <a asp-area="" asp-controller="Clubs" asp-action="AssignUsers">
            Assign Users
        </a>
    </div>
</div>

<div class="row my-center my-div">
    <div class="col-md-3">
        <a asp-area="" asp-controller="Clubs" asp-action="RemoveUsers">
            Remove Users
        </a>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
