@model racesmiths.Models.Club

@using racesmiths.Enums

@{
    ViewData["Title"] = "Details";
}
<div class="row my-center">
    <h1>@Model.ClubName</h1><hr />
    @if (User.IsInRole("ClubManager") || User.IsInRole("Admin"))
    {
        <span class="float-right">
            <a class="btn btn-dark" data-toggle="modal" data-target="#createChamp" asp-area="" asp-controller="Champs" asp-action="Create" asp-route-id="@Model.Id">
                Create Championship
            </a>
            <a class="btn btn-dark" asp-area="" asp-controller="Clubs" asp-action="AssignUsers" asp-route-id="@Model.Id">
                Assign Users
            </a>
            <a class="btn btn-dark" asp-area="" asp-controller="Clubs" asp-action="RemoveUsers" asp-route-id="@Model.Id">
                Remove Users
            </a>
        </span>

    }
</div>
<div class="row my-center">
    <h2>Current Championships</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        @if (Model.Champs.Count == 0)
        {
            <div class="row my-center upcoming-track">
                No scheduled Championships
            </div>
        }
        else
        {
            @foreach (var item in Model.Champs)
            {
                <div class="row my-center">
                    <a class="btn btn-link upcoming-track" asp-controller="Champs" asp-action="Details" asp-route-id="@item.Id">
                        <span>
                            @Html.DisplayFor(modelItem => item.ChampName)
                        </span>
                        <span class="game">
                            @Html.DisplayFor(modelItem => item.Game)
                        </span>
                        <span class="game">
                            | @Html.DisplayFor(modelItem => item.System)
                        </span><br />
                    </a>
                </div>
            }

        }

    </div>
    <div class="col-md">
        @foreach (var user in Model.ClubUsers)
        {
            @user.Gamertag
        }
    </div>
</div>


@*MODALS*@
<div class="modal fade silver" id="createChamp" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" data-animation="makeway">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content my-modal">
            <div class="row my-center">
                <div class="my-modal-head">
                    Create Championship
                </div>
            </div>
            @*<div class="modal-header">
                    <h2 class="my-modal-div" id="exampleModalScrollableTitle">Create a Championship</h2>
                    <button type="button" class="orange close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
            <div class="modal-body my-modal-div">
                <form asp-controller="Champs" asp-action="Create" enctype="multipart/form-data">
                    <input type="hidden" name="ClubId" value="@Model.Id" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
                            Video Game
                            <input asp-for="Champs.FirstOrDefault().Game" class="form-control bg-soft-dark" placeholder="Game" />
                        </div>
                        <div class="form-group">
                            Gaming System
                            <input asp-for="Champs.FirstOrDefault().System" class="form-control bg-soft-dark" placeholder="System" />
                        </div>*@
                    <div class="row modal-section">
                        <div class="col-12 form-group">
                            Name
                            <input asp-for="Champs.FirstOrDefault().ChampName" class="form-control bg-soft-dark" placeholder="Championship Name..." />
                        </div>
                        <div class="col-9 form-group">
                            First Race
                            <input asp-for="Champs.FirstOrDefault().StartDate" class="form-control bg-soft-dark" />
                        </div>
                        <div class="col form-group">
                            Rounds
                            <input asp-for="Champs.FirstOrDefault().Rounds" class="form-control bg-soft-dark" />
                        </div>
                    </div><br />
                    <div class="warning">
                        <div class="inner-warning">
                            <p>The following settings will be set across all Events in the championship.  Settings that will change from race to race will need to be left to "Not Set".  You can edit these settings in the future. </p>
                        </div>
                    </div>

                    <h2>Vehicle Selection</h2>
                    <div class="row my-center">
                        (Fill 1 of 3 options)
                    </div>
                    <div class="my-center modal-section">
                        Option 1
                        <div class="row my-center">
                            <h3>All drivers in the same vehicle class</h3>
                            <div class="col-6 form-group">
                                Vehicle Class
                                <input asp-for="Champs.FirstOrDefault().VehicleClass" class="form-control bg-soft-dark" placeholder="Class..." />
                            </div>
                            <div class="col form-group">
                                Exclude Vehicle(s)
                                <textarea asp-for="Champs.FirstOrDefault().ExcludeVehicle" class="form-control bg-soft-dark" placeholder="Optional..."></textarea>
                            </div>
                        </div>
                    </div><br />
                    <div class="modal-section my-center">
                        Option 2
                        <div class="row my-center">
                            <h3>Enter class names for Multi-Class racing</h3>
                            <div class=" col-6 form-group">
                                Slot 1
                                <input asp-for="Champs.FirstOrDefault().Multi1" class="form-control bg-soft-dark" placeholder="class..." />
                            </div>
                            <div class=" col form-group">
                                Slot 2
                                <input asp-for="Champs.FirstOrDefault().Multi2" class="form-control bg-soft-dark" placeholder="class..." />
                            </div>
                        </div>
                        <div class="row my-center">
                            <div class=" col-6 form-group">
                                Slot 3
                                <input asp-for="Champs.FirstOrDefault().Multi3" class="form-control bg-soft-dark" placeholder="class..." />
                            </div>
                            <div class=" col form-group">
                                Slot 4
                                <input asp-for="Champs.FirstOrDefault().Multi4" class="form-control bg-soft-dark" placeholder="class..." />
                            </div>
                        </div>
                    </div><br />
                    <div class="modal-section my-center">
                        Option 3
                        <div class="row my-center">
                            <h3>All drivers in the same vehicle</h3>
                            <div class="form-group">
                                <input asp-for="Champs.FirstOrDefault().Vehicle" class="form-control bg-soft-dark" placeholder="Vehicle name..." />
                            </div>
                        </div>
                    </div><br />

                    <h2>Race Settings</h2>
                    <div class="my-center modal-section">
                        <div class="row my-center">
                            <div class="col-3 form-group">
                                Laps
                                <input asp-for="Champs.FirstOrDefault().Laps" class="form-control bg-soft-dark" />
                            </div>
                            <div class="col form-group">
                                <p>OR</p>
                            </div>
                            <div class="col form-group">
                                Hours
                                <input asp-for="Champs.FirstOrDefault().RaceHours" class="form-control bg-soft-dark" />
                            </div>
                            <div class="col form-group">
                                Minutes
                                <input asp-for="Champs.FirstOrDefault().RaceMinutes" class="form-control bg-soft-dark" />
                            </div>
                        </div>
                        <div class="row my-center">
                            <div class="col form-group">
                                Date Type
                                <select asp-for="Champs.FirstOrDefault().IGDateType" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<IGDateType>()"></select>
                            </div>
                            <div class="col form-group">
                                Season
                                <select asp-for="Champs.FirstOrDefault().Season" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<Season>()"></select>
                            </div>
                            <div class="col form-group">
                                In-game Time:
                                <input asp-for="Champs.FirstOrDefault().IGTimeRace" class="form-control bg-soft-dark" placeholder="00:00" />
                            </div>
                        </div>
                        <div class="row my-center">
                            <div class="col form-group">
                                If Custom
                                <input asp-for="Champs.FirstOrDefault().IGDateRace" class="form-control bg-soft-dark" />
                            </div>

                            <div class="col form-group">
                                Time Progression
                                <select asp-for="Champs.FirstOrDefault().TimeProgression" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<TimeProgression>()"></select>
                            </div>
                        </div>
                        <div class="my-center">
                            Weather Forecast
                            <div class="row my-center">
                                <div class="col form-group">
                                    Slot 1
                                    <select asp-for="Champs.FirstOrDefault().WeatherSlot1" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<WeatherSlot1>()"></select>
                                </div>
                                <div class="col form-group">
                                    Slot 2
                                    <select asp-for="Champs.FirstOrDefault().WeatherSlot2" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<WeatherSlot2>()"></select>
                                </div>
                            </div>
                            <div class="row my-center">
                                <div class="col form-group">
                                    Slot 3
                                    <select asp-for="Champs.FirstOrDefault().WeatherSlot3" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<WeatherSlot3>()"></select>
                                </div>
                                <div class="col form-group">
                                    Slot 4
                                    <select asp-for="Champs.FirstOrDefault().WeatherSlot4" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<WeatherSlot4>()"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row my-center">
                            <div class="col-5 form-group">
                                Start Type
                                <select asp-for="Champs.FirstOrDefault().StartType" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<StartType>()"></select>
                            </div>
                            <div class="col form-group">
                                Formation Lap
                                <div>
                                    <input asp-for="Champs.FirstOrDefault().FormationLap" class="select-checkbox" />
                                </div>
                            </div>
                            <div class="col form-group">
                                Mandatory Pit
                                <div>
                                    <input asp-for="Champs.FirstOrDefault().MandatoryPit" class="select-checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Qualifying:</h2>
                    <div class="modal-section">
                        <div class="row my-center">
                            <div class="col-6 form-group">
                                Hours
                                <input asp-for="Champs.FirstOrDefault().QualifyHours" class="form-control bg-soft-dark" placeholder="0" />
                            </div>
                            <div class="col form-group">
                                Minutes
                                <input asp-for="Champs.FirstOrDefault().QualifyMinutes" class="form-control bg-soft-dark" placeholder="0" />
                            </div>
                        </div>
                        <div class="row my-center">
                            <div class="col-6 form-group">
                                In-game Time
                                <input asp-for="Champs.FirstOrDefault().IGTimeQualify" class="form-control bg-soft-dark" placeholder="00:00" />
                            </div>
                            <div class="col form-group">
                                Time Progression
                                <select asp-for="Champs.FirstOrDefault().QualTimeProgression" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<TimeProgression>()"></select>
                            </div>
                        </div>
                        <div class="row my-center">
                            Qualifying Weather Forecast
                            <div class="row my-center">
                                <div class="col form-group">
                                    Slot 1
                                    <select asp-for="Champs.FirstOrDefault().QualWeatherSlot1" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<QualWeatherSlot1>()"></select>
                                </div>
                                <div class="col form-group">
                                    Slot 2
                                    <select asp-for="Champs.FirstOrDefault().QualWeatherSlot2" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<QualWeatherSlot2>()"></select>
                                </div>
                            </div>
                            <div class="row my-center">
                                <div class="col form-group">
                                    Slot 3
                                    <select asp-for="Champs.FirstOrDefault().QualWeatherSlot3" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<QualWeatherSlot3>()"></select>
                                </div>
                                <div class="col form-group">
                                    Slot 4
                                    <select asp-for="Champs.FirstOrDefault().QualWeatherSlot4" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<WeatherSlot4>()"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Realism Settings</h2>
                    <div class="modal-section">
                        <div class="row my-center">
                            <div class="col">
                                Damage Type
                                <select asp-for="Champs.FirstOrDefault().DamageType" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<DamageType>()"></select>
                            </div>
                            <div class="col">
                                Tire Wear
                                <select asp-for="Champs.FirstOrDefault().TireWear" class="form-control bg-soft-dark" asp-items="Html.GetEnumSelectList<TireWear>()"></select>
                            </div>
                        </div><br />
                        <dl class="row">
                            <dt class="col-9">
                                Allow Auto Start Engine
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().AutoStart" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Force Interior View
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().ForceInnerView" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Force Driving Line
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().ForceDriveLine" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Force Default Setup
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().ForceSetup" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Force Manual Gears
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().ForceGears" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Force Realistic Driving Aids
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().ForceAids" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Allow Anti-Lock Brakes
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().AllowAbs" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Allow Traction Control
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().AllowTcs" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Allow Stability Control
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().AllowStm" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Mechanical Failures
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().MechFailure" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Allow Ghosted Vehicles
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().AllowGhost" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Force Manual Pit Stops
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().ForceManualPit" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Allow Pit Stop Errors
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().PitStopErrors" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Fuel Depletion
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().FuelUsage" class="select-checkbox" />
                            </dd>
                            <dt class="col-9">
                                Force Cooldown Lap
                            </dt>
                            <dd class="col">
                                <input asp-for="Champs.FirstOrDefault().ForceCoolDown" class="select-checkbox" />
                            </dd>
                        </dl>
                    </div><br />
                    <div class="form-group">
                        Additional Information
                        <textarea asp-for="Champs.FirstOrDefault().Description" class="form-control bg-soft-dark" id="mytextarea" placeholder="Description"></textarea>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-dark form-control silver-4" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

