@model racesmiths.Models.Race

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Race</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualifyLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualifyLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
