@model racesmiths.Models.Champ

@{
    ViewData["Title"] = "Details";
}


<div class="row my-center">
    <h1>@Model.ChampName</h1><hr />
    <span class="float-right">
        <a class="btn btn-dark" data-toggle="modal" data-target="#createEvent" asp-area="" asp-controller="Events" asp-action="Create" asp-route-id="@Model.Id">
            Add Next Round
        </a>
        @*<a class="btn btn-dark" asp-area="" asp-controller="Clubs" asp-action="RemoveUsers" asp-route-id="@Model.Id">
                Remove Users
            </a>*@
    </span>
</div>
<hr />


<div class="row">
    <div class="col-md-4">
        @foreach (var item in Model.Events)
        {
            <span>
                Round @Html.DisplayFor(modelItem => item.RoundNumber)
                <span class="float-right">
                    @Html.DisplayFor(modelItem => item.Scheduled)
                </span>
            </span><br />
            <div class="upcoming-track">
                <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.TrackName)
                </a>
            </div><hr />

        }
    </div>
    <div class="col-md-8">
        @Html.DisplayNameFor(model => model.Rules)<br />
        @Html.DisplayFor(model => model.Rules)<br />
        @*@Html.DisplayNameFor(model => model.Description)<br />
        @Html.DisplayFor(model => model.Description)<br />*@
        @Html.Raw(Model.Description)
    </div>
</div>

<div class="col-md-4">

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@*MODALS*@
<div class="modal fade" id="createEvent" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" data-animation="makeway">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalScrollableTitle">Create Event</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Events" asp-action="Create" enctype="multipart/form-data">
                    <input type="hidden" name="ChampId" value="@Model.Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label name="RoundNumber" class="control-label">RoundNumber</label>
                        <input name="RoundNumber" class="form-control bg-soft-dark" />
                    </div>
                    <div class="form-group">
                        <label name="TrackName" class="control-label">TrackName</label>
                        <input name="TrackName" class="form-control bg-soft-dark" />
                    </div>
                    <div class="form-group">
                        <label name="Description" class="control-label">Description and settings</label>
                        <textarea name="Description" id="mytextarea" class="form-control bg-soft-dark"></textarea>
                    </div>
                    @*<div class="form-group">
                        <label name="Settings" class="control-label">Settings</label>
                        <textarea name="Settings" id="mytextarea" class="form-control bg-soft-dark"></textarea>
                    </div>*@
                    <div class="form-group">
                        <label name="Scheduled" class="control-label">Scheduled</label>
                        <input type="date" name="Scheduled" class="form-control bg-soft-dark" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-block silver-2" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

